<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BookHub</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="style2.css">
    </head>
    <body>
    <nav id="nav-links">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Checkout</a></li>
            <li><a href="#">Donate</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
    </nav>
    <!-- Header Section -->
    <div id="header">
        <h1>BookHub</h1>
        <p>Track, Review, and Share Your Reading Journey</p>
    </div>
</body>
</html>
